
@import './fonts.css';
@import './helper-classes.css';
@import './rebuild.css';

*,*::after,*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --light: "K2D-Light";
    --regular: "K2D-Regular";
    --medium: "K2D-Medium";
    --semiBold: "K2D-SemiBold";
    --bold: "K2D-Bold";
    --dark: #3f3f3f;
    --green: #A5D9A1;
    --dark-green: #1F9389;
    --grey: #6C8A9B;
    --pink: #FFA097;
    --red: #FF6151;
    --border-color: #E3E3E3;
}

body {
    font-size: 15px;
    font-family: var(--regular);
}

.auth-header {
    min-height: 100px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(166, 166, 166, 0.25);
}

.header {
    z-index: 99;
}

.app-logo span {
    font-family: "Roboto";
    font-size: 41px;
    font-weight: 300;
    color: var(--grey);
}

.header-lang {
    right: 30px;
}

.lang-dropdown {
    min-width: 142px;
}

.dropdown-items span {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.layout-route {
    min-height: 100vh;
    padding-top: 145px;
}

.app-login {
    max-width: 600px;
    margin: 0 auto 30px;
    border: 1px solid var(--border-color);
}

.login-tabs .tab-items {
    width: 50%;
    background: rgba(108, 138, 155, 0.06);
    color: #000 !important;
}

.tab-items.v-tab--active {
    background: #fff;
}

.tab-title {
    font-size: 39px;
    line-height: 39px;
}

.tab-content {
    padding: 0 calc(12px + 2.6041666666666665vw) calc(6px + 1.0416666666666667vw) calc(12px + 2.6041666666666665vw);
}

.ophan-button-1 button {
    font-size: 30px !important;
    height: 62px !important;
    line-height: 39px !important;
    letter-spacing: 1px !important;
    border-radius: 9px !important;
}

.forget-password {
    font-size: 21px;
    line-height: 27px;
}

.error-text {
    font-size: 20px;
    line-height: 26px;
}

.condition-text {
    font-size: 21px;
    line-height: 27px;
}

.app-navigation,
.app-drawer {
    min-height: 100vh;
}

.app-drawer,
.header {
    position: sticky;
    top: 0;
}

.app-main {
    background: #F7F9FC;
    flex: 1;
}

.app-drawer .v-navigation-drawer__content {
    height: 100vh;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.drawer-content {
    flex: 1;
}

.drawer-logo {
    margin: 30px;
}

.router-link-active .drawer-anchor {
    background: var(--pink) !important;
}

.router-link-active .drawer-anchor .v-list-item__title {
    color: #fff;
}

.drawer-anchor.v-list-item {
    margin: 17px 15px !important;
    border-radius: 10px !important;
    padding: 8px 20px;
}

.drawer-anchor.v-list-item--link:before {
    border-radius: 10px;
}

.app-header {
    padding: 35px 20px 10px 35px;
    background: #F7F9FC;
}

.header-search {
    max-width: 572px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 31px;
}

.header-search input {
    outline: none;
    padding: 10px 20px;
    z-index: 2;
}

.header-search img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.header-search span {
    left: 0;
    max-width: 362px;
    top: 0;
    z-index: 1;
    color: #B2B2B2;
    font-weight: 300;
    font-size: 27px;
    line-height: 31.64px;
}

.notification-dropdown {
    width: 60px;
    height: 60px;
}

.header-tools {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
}

.auth-dropdown {
    min-width: 83px;
    width: 100%;
    height: 60px;
}

.app-route {
    padding: 0 20px 0 35px;
    flex: 1
}

.card-basic {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    padding: 13px 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 15px;
}

.notification-dropdown-list {
    min-width: 426px;
}

.alert-title {
    font-size: 12px;
    line-height: 16px;
}

.alert--text p {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
    margin: 0 !important;
}

.alert-date {
    justify-content: flex-end;
}

.alert-date span {
    font-size: 12px;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .drawer-anchor:hover {
    color: transparent !important;
}

.dropdown--list:hover {
    background: #eee;
}

.user-auth-name {
    font-size: 22px;
    line-height: 29px;
}

.mobile-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}
.mobile-layer.active,
.mobile-layer.active + .close-cicrle {
    opacity: 1;
    visibility: visible;
}

.close-cicrle {
    width: 63px;
    height: 63px;
    z-index: 100;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
    left: 335px;
    top: 20px;
    visibility: hidden;
    transition: all 400ms;
}

.carousel-cell {
    width: 360px;
    transition: all 300ms;
}

.chart-carouse-cell {
    width: 650px;
    transition: all 300ms;
}

.account-container {
    max-width: 850px;
    min-height: 600px;
    background: #FFFFFF;
    box-shadow: 0 4px 23px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    margin: 65px auto 0;
    overflow: hidden;
    position: relative;
}

.account-sidebar {
    padding: 55px 0 30px 23px;
    background: var(--grey);
    width: 248px;
}

.account-sidebar-items {
    padding: 16px;
    color: #FFFFFF !important;
    font-family: var(--semiBold);
    font-size: 18px;
    line-height: 23px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background 350ms, color 350ms;
}

.account-sidebar-items.router-link-active {
    background: #fff;
    color: var(--grey) !important;
}

.account-view {
    padding: 17px calc(15px +  2.4363vw) calc(11px + 1.082vw) calc(15px + 2.707vw);
    flex: 1;
}

.upload-wrap {
    background: #FFBAB9;
    border-radius: 5px;
    height: 48px;
    padding: 6px 21px;
}

.form-label__text {
    font-size: 17px;
    line-height: 23px;
}

.form-label input {
    min-height: 54px;
    border: 2px solid var(--grey);
    border-radius: 6px;
    padding: 0 16px;
    font-size: 20px;
}

.account-buttons button {
    height: 53px !important;
    box-shadow: none !important;
}

.button-default {
    background: #F3F3F3 !important;
}

.button-default .v-btn__content {
    color: #AAAAAA;
}

.account-buttons .v-btn__content {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--regular);
    letter-spacing: .25px;
}

.card-text {
    padding: 16px 32px;
    border: 2px solid var(--grey);
    border-radius: 6px;
}

.card-text-wrap {
    max-height: 510px;
    padding-right: 20px;
    overflow-y: auto;
}

.card-text-date {
    font-size: 13px;
    line-height: 16px;
}

.language-button {
    height: 62px !important;
    max-width: 362px !important;
    width: 100% !important;
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0 4px 4px rgba(204, 204, 204, 0.25) !important;
    border-radius: 10px !important;
}

.language-button .v-input__slot {
    box-shadow: none !important;
    margin: 0 !important;
    height: 62px !important;
}

.language-button.v-input .v-label {
    height: 30px !important;
}

.language-button .v-select__selection,
.language-button .v-label {
    font-size: 22px !important;
    line-height: 29px !important;
    color: #939393 !important;
    width: 100%;
    text-align: center;
}

.v-application .language-button .v-icon.v-icon {
    font-size: 50px;
    color: #B2B2B2 !important;
    caret-color: #B2B2B2 !important;
}

.change-system-language-view,
.change-system-language-view .account-view-body {
    height: 100%;
}

.change-system-language-view .account-view-body {
    display: flex;
    flex-direction: column;
}

.system-language-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-label-number__text,
.v-btn__content span {
    font-size: 24px;
    line-height: 31px;
}

.v-btn__content span {
    font-family: var(--semiBold);
    color: #939393;
}

.language-dropdown-icon {
    right: 5px;
}

.form-label-number .v-text-field input {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--medium);
    color: #9D9D9D !important;
}

 .form-label-number .v-input__slot {
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0 4px 4px rgba(170, 170, 170, 0.25) !important;
    border-radius: 11px !important;
    height: 65px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.error-text-2 {
    font-family: var(--regular) !important;
}

.app-badge {
    min-width: 38px;
    height: 30px;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    font-family: var(--medium);
    color: #fff;
}

.app-badge__success {
    background: var(--green);
}

.char-wrap {
    padding-bottom: 73px;
    padding-top: 16px;
}

.chat-area {
    background: #fff;
    box-shadow: 0 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    display: flex;
    height: 100%;
}

.chat-aside {
    width: 300px;
    border-right: 1px solid #E0E0E0;
}

.chat-aside-header {
    height: 60px;
    border-bottom: 1px solid #E0E0E0;
}

.chat-aside-header p {
    font-size: 22px;
    line-height: 29px;
}

.contact-item-avatar img {
    width: 40px;
    height: 40px;
    display: block;
}

.contact-items {
    padding: 10px 14px;
}

.contact-items:hover {
    background: #F9F9F9;
}

.contact-item-meta {
    flex: 1;
    color: #000000;
}

.contact-item-meta h1 {
    font-size: 18px;
    line-height: 23px;
    font-family: var(--regular);
}

.contact-item-meta span {
    font-size: 11px;
    line-height: 14px;
    display: block;
    margin-top: 4px;
}

.contact-message-count {
    width: 23px;
    height: 23px;
    background: #ADCBF9;
    border-radius: 24px;
    font-size: 13px;
}

.help-view-title {
    font-size: 24px;
    line-height: 31px;
}

.help-link-wrap {
    max-width: 700px;
}

.help-view-links {
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
}

.help-view-links:not(:last-child) {
    margin-bottom: 25px;
}

.help-view-links span,
.expansion--header p,
.expansion--body p {
    font-size: 22px;
    line-height: 29px;
    color: #000;
}

.expansion--body {
    background: #FAFAFA;
}

.expansion-panel-wrap .v-expansion-panel {
    margin-bottom: 15px;
    box-shadow: 0 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px !important;
}

.expansion-panel-wrap .v-expansion-panel-content__wrap {
    padding: 0;
    overflow: hidden;
}

.expansion--body {
    padding: 15px 25px;
    background: #FAFAFA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.expansion--body p {
    margin: 0 !important;
}

.v-application--is-ltr .expansion-panel-wrap .v-expansion-panel-header {
    height: 90px;
}

.expansion-panel-wrap .v-expansion-panel:not(:first-child)::after {
    display: none;
}

.circle-50 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.circle-50 span {
    font-size: 22px;
    line-height: 29px;
    font-family: var(--semiBold);
}

.circle-50__pink {
    background: var(--pink);
    color: #fff
}

.circle-50__green {
    background: var(--green);
    color: #fff;
}

.v-expansion-panel.v-item--active {
    margin: 0 !important;
}

.course-progress {
    height: 37px
}

.course-progress-track {
    background: #F2F2F2;
}

.progress-track {
    height: 100%;
    background: #83D2B7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.courses-card {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    overflow: hidden;
    padding: 12px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.course-progress {
    margin-top: auto;
}

.course-card-img {
    height: 156px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}


.course-progress-track {
    flex: 1;
}

.course-progress-button {
    min-width: 122px;
}

.progress-text {
    font-size: 15px;
    line-height: 21px;
}

.courses-card p {
    height: 50px;
    overflow: hidden;
}

.courses-card p,
.flickity-card p {
    font-family: var(--semiBold);
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 0px !important;
}

.read-more-anchor {
    font-size: 20px;
    line-height: 26px;
}

.flickity-card {
    width: 240px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.flickity-card-img {
    height: 105px;
}

.subject-owner {
    font-size: 12px;
    margin-bottom: auto;
}

.subject-cost p {
    color: #b1b1b1;
}

.subject-votes-number {
    font-size: 16px;
    font-family: var(--regular);
    color: #c4c4c4;
}

.subject-votes-count {
    font-size: 12px;
    color: #c4c4c4;
}

.subject-flickity .flickity-viewport {
    height: 285px !important;
}

.flickity-card-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.courses-card-wrap {
    margin-left: -15px;
    margin-right: -15px;
}

.courses-card-item {
    width: calc(16.666666% - 30px);
    margin: 0 15px;
}

.module-course-items {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 10px rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    padding: 12px 10px;
    width: calc(25% - 30px);
    margin: 0 15px 15px 15px;
}

.module-course-header > div:last-child,
.module-course-meta > div:last-child {
    flex: 1;
}

.module-course-items .course-progress-track {
    height: 30px;
}

.module-course-wrap {
    margin-left: -15px;
    margin-right: -15px;
}

.course-info-meta h1 {
    font-size: 30px;
    line-height: 40px;
}

.course-info-img {
    min-height: 325px;
    overflow: hidden;
    max-width: 440px;
    width: 100%;
    border: 8px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(170, 170, 170, 0.25));
    border-radius: 15px;
}

.course-info-meta {
    flex: 1
}

.course-info-owner > * {
    font-size: 24px;
    line-height: 32px;
}

.course-stars button {
    padding: 0 !important;
}

.course-info-raiting > * {
    font-size: 18px;
    line-height: 24px;
}

.course-info-raiting + p {
    font-size: 16px;
    line-height: 18px;
}

.course-more-button button {
    height: 72px !important;
    width: 224px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
    text-transform: initial;
    font-size: 22px !important;
    line-height: 29px;
    letter-spacing: 0.5px;
    font-family: var(--bold);
}

.course-info-cost p {
    font-size: 27px;
    line-height: 26px;
}

.course-info-tabs {
    max-width: 1000px;
}

.course-info-tabs .v-slide-group__wrapper {
    max-width: 584px;
    background: #fff;
    box-shadow: -2px -3px 4px rgba(221, 221, 221, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-info-tabs .v-tabs-bar {
    height: 60px;
}

.course-info-tabs .v-tab:hover,
.course-info-tabs .v-tab.v-tab--active {
    background: #fcfcfc;
}

.course-tab-content {
    padding: 45px;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
}

.course-info-tabs .v-tab:not(:last-child) {
    border-right: 1px solid #DFDFDF;
}

.course-info-tabs .v-slide-group__content {
    border-bottom: 1px solid #dfdfdf;
}

.course-tab-box {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 25px;
}

.tab-check-items img {
    width: 22.625px;
    height: 32.5px;
}

.course-tab-box > p,
.course-need > p {
    font-size: 32px;
    line-height: 42px;
    font-family: var(--medium);
}

.tab-check-items {
    width: 50%;
}

.course-need > p {
    margin-top: 40px;
}

.course-need ul li p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px !important;
}

.app-table {
    border-collapse: separate;
    border-spacing: 0 1.25rem;
}

.app-table-thead th {
    color: var(--grey);
    font-size: 15px;
    font-family: var(--semiBold);
}

.app-table-tbody tr {
    border-radius: 10px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
}

.app-table-tbody tr td {
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.app-table-tbody tr td:first-child {
    background: transparent;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
}

.app-table-tbody tr td:last-child {
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-raiting-circle {
    font-size: 22px;
    line-height: 29px;
    width: 50px;
    height: 50px;
    background: var(--green);
    border-radius: 100%;
    color: #fff;
}

.app-table-tbody tr td:first-child a {
    width: 30px;
}

.payment-view {
    max-width: 700px;
    padding: 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
    margin: 105px auto 0;
}

.payment-view p {
    font-size: 40px;
    line-height: 52px;
    color: var(--grey);
    font-family: var(--bold);
}

.payment-view-form p {
    font-size: 22px;
    line-height: 29px;
    font-family: var(--bold);
}

.payment-card-number span {
    font-size: 18px;
    line-height: 20px;
}

.payment-card-input {
    height: 65px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    font-size: 25px;
    font-family: var(--semiBold);
    color: var(--grey);
    display: block;
    width: 100%;
    letter-spacing: 2px;
}

.payment-card-number {
    flex: 1;
}

.payment-card-code {
    width: 180px;
}

.payment-card-code span {
    font-size: 16px;
    line-height: 18px;
}

.payment-view-form .v-input .v-label {
    font-family: var(--bold);
    color: #000;
    font-size: 18px;
}

.payment-button button {
    border-radius: 5px;
    max-width: 356px;
    width: 100%;
    height: 80px !important;
    box-shadow: none;
    font-size: 30px !important;
    line-height: 39px !important;
    letter-spacing: 0;
    font-family: var(--semiBold);
}

.confirmation-field input {
    max-width: 360px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 20px;
}

.success-payment-view span {
    font-size: 22px;
    line-height: 25px;
}

.success-payment-text {
    font-size: 32px;
    line-height: 42px;
}

.has-coupon span {
    font-size: 19px;
    margin-bottom: 4px;
}

.coupon-field {
    max-width: 450px;
    width: 100%;
    margin: 40px auto 80px;
}

.payment-error-text {
    color: var(--red);
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
}

.course-start-box {
    max-width: 960px;
}

.course-start-header p {
    font-size: 26px;
    line-height: 34px;
    color: var(--grey);
    font-family: var(--bold);
}

.course-start-progress {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.course-start-progress-track {
    height: 100%;
    border-radius: 120px;
    background: var(--grey);
}

.course-start-items {
    width: 28px;
    height: 30px;
    margin: 9px;
    font-size: 16px;
    line-height: 21px;
    font-family: var(--semiBold);
    background: var(--pink);
    border-radius: 2px;
}

.course-item-number {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    padding: 5px 10px;
}

.course-start-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    padding: 25px 20px;
}

.course-start-content h1 {
    font-size: 22px;
    line-height: 29px;
}

.course-answer-items {
    font-size: 20px;
    color: #3f3f3f;
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 25px;
    overflow: hidden;
    cursor: pointer;
}

.course-answer-items.active {
    background: #DAF4D8;
}

.course-next-button button {
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 5px;
    width: 200px;
    height: 50px !important;
    font-size: 22px !important;
    line-height: 29px;
    letter-spacing: 0;
}

.course-answer-items input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.course-answer-correct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.course-answer-items input:checked + .course-answer-correct {
    background: #DAF4D8;
}

.course-answer-items span {
    position: relative;
    z-index: 1;
}

/***************  MEDIA  ************************/

@media (max-width: 1800px) {
    .courses-card-item {
        width: calc(20% - 30px);
    }
}

@media (max-width: 1600px) {
    .courses-card-item {
        width: calc(25% - 30px);
    }
}

@media (max-width: 1300px) {
    .courses-card-item {
        width: calc(33.3333% - 30px);
    }
}

@media (min-width: 1050px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1050px) {
    .mobile-menu {
        display: flex;
    }

    .courses-card-item {
        width: calc(25% - 30px);
    }

    .app-route {
        padding: 0 15px;
    }

    .v-application .header-tools.ml-6 {
        margin-left: 8px !important;
    }

    .header {
        padding: 14px 0 14px 20px;
        height: 70px;
        background: #fff;
        box-shadow: 0 4px 10px rgba(156, 156, 156, 0.25);
    }

    .v-application .header-search span,
    .v-application .user-auth.d-flex {
        display: none !important;
    }

    .header-search {
        height: 43px;
        background: #F4F4F4;
    }

    .header-tools {
        width: auto;
        height: auto;
        box-shadow: none !important;
        background: transparent;
    }

    .header-search img {
        width: 15px;
        height: 15px;
        right: 14px;
        z-index: 2;
    }

    .notification-dropdown .v-image {
        max-height: 21px !important;
        max-width: 21px !important;
    }

    .auth-dropdown .v-image {
        max-height: 45px !important;
        max-width: 45px !important;
    }

    .auth-dropdown {
        height: auto;
    }

    .app-drawer.v-navigation-drawer {
        transform: translateX(-200%) !important;
    }

    .app-drawer.active.v-navigation-drawer {
        transform: translateX(0%) !important;
    }

    .app-drawer {
        position: absolute !important;
        z-index: 101 !important;
        width: 307px !important;
    }

    .app-drawer.v-navigation-drawer--mini-variant .v-list-item>:not(:first-child) {
        position: relative !important;
        width: auto;
        height: auto;
        overflow: visible;
        clip: inherit;
        white-space: initial;
        display: block;
        margin-left: 0 !important;
    }

    .v-application--is-ltr .app-drawer .v-list-item__icon:first-child {
        margin-right: 24px !important;
    }
}

@media (max-width: 992px) {
    .courses-card-item {
        width: calc(33.3333% - 30px);
    }
}

@media (max-width: 769px) {
    .account-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f7f9fc;
        transform: translateX(-100%);
    }

    .account-container {
        box-shadow: none;
        background: transparent;
    }

    .account-sidebar {
        width: 100%;
        background: transparent;
        padding: 0;
    }

    .account-sidebar-items {
        box-shadow: 0 4px 4px rgba(217, 217, 217, 0.25) !important;
        border-radius: 7px !important;
        color: var(--grey) !important;
        margin-bottom: 12.5px;
        background: #fff;
    }
}

.course-progress-button button {
    font-size: 18px !important;
    line-height: 23px;
}

@media (max-width: 650px) {
    .courses-card-item {
        width: calc(50% - 30px);
    }

    .header {
        min-height: 70px;
    }

    .app-logo span {
        font-size: 30px;
        margin-left: 10px !important;
    }

    .header-lang {
        right: 10px;
    }

    .header-lang img {
        width: 24px;
        height: 24px;
    }

    .layout-route {
        padding-top: 115px;
    }

    .app-login {
        margin: 0 20px 30px;
    }

    .tab-title {
        font-size: 18px;
        line-height: 23px;
    }

    .ophan-button-1 button {
        height: 45px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }

    .forget-password {
        font-size: 14px;
        line-height: 18px;
    }

    .error-text {
        font-size: 12px;
        line-height: 16px;
    }

    .condition-text {
        font-size: 16px;
        line-height: 21px;
    }

    .app-logo img {
        max-width: 30px;
    }

    .login-tabs .tab-items {
        letter-spacing: 0;
    }
}

@media (max-width: 450px) {
    .app-drawer {
        width: 100% !important;
    }

    .courses-card-item,
    .courses-card-item .flickity-card {
        width: 100%;
    }

    .courses-card-item .flickity-card-img {
        height: 165px;
    }

    .close-cicrle {
        z-index: 101;
        background: transparent;
        top: 0;
        left: initial;
        right: 5px;
    }
}

@media (max-width: 400px) {
    .tab-content {
        padding-left: 0;
        padding-right: 0;
    }

    .login-tabs .tab-items {
        font-size: 12px;
    }
}