
@import './fonts.css';
@import './helper-classes.css';
@import './rebuild.css';

*,*::after,*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --light: "K2D-Light";
    --regular: "K2D-Regular";
    --medium: "K2D-Medium";
    --semiBold: "K2D-SemiBold";
    --bold: "K2D-Bold";
    --dark: #3f3f3f;
    --green: #A5D9A1;
    --dark-green: #1F9389;
    --grey: #6C8A9B;
    --pink: #FFA097;
    --red: #FF6151;
    --border-color: #E3E3E3;
}

body {
    font-size: 15px;
    font-family: var(--regular);
}

.auth-header {
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.25);
}

.header {
    z-index: 99;
}

.app-logo span {
    font-family: "Roboto";
    font-size: 41px;
    font-weight: 300;
    color: var(--grey);
}

.header-lang {
    right: 30px;
}

.lang-dropdown {
    min-width: 142px;
}

.dropdown-items span {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.layout-route {
    min-height: 100vh;
    padding-top: 145px;
}

.app-login {
    max-width: 600px;
    margin: 0 auto 30px;
    border: 1px solid var(--border-color);
}

.login-tabs .tab-items {
    width: 50%;
    background: rgba(108, 138, 155, 0.06);
    color: #000 !important;
}

.tab-items.v-tab--active {
    background: #fff;
}

.tab-title {
    font-size: 39px;
    line-height: 39px;
}

.tab-content {
    padding: 0 calc(12px + 2.6041666666666665vw) calc(6px + 1.0416666666666667vw) calc(12px + 2.6041666666666665vw);
}

.ophan-button-1 button {
    font-size: 30px !important;
    height: 62px !important;
    line-height: 39px !important;
    letter-spacing: 1px !important;
    border-radius: 9px !important;
}

.forget-password {
    font-size: 21px;
    line-height: 27px;
}

.error-text {
    font-size: 20px;
    line-height: 26px;
}

.condition-text {
    font-size: 21px;
    line-height: 27px;
}

.app-navigation,
.app-drawer {
    min-height: 100vh;
}

.app-drawer,
.header {
    position: sticky;
    top: 0;
}

.app-main {
    background: #F7F9FC;
    flex: 1;
}

.app-drawer .v-navigation-drawer__content {
    height: 100vh;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.drawer-content {
    flex: 1;
}

.drawer-logo {
    margin: 30px;
}

.router-link-active .drawer-anchor {
    background: var(--pink) !important;
}

.router-link-active .drawer-anchor .v-list-item__title {
    color: #fff;
}

.drawer-anchor.v-list-item {
    margin: 17px 15px !important;
    border-radius: 10px !important;
    padding: 8px 20px;
}

.drawer-anchor.v-list-item--link:before {
    border-radius: 10px;
}

.app-header {
    padding: 35px 20px 10px 35px;
    background: #F7F9FC;
}

.header-search {
    max-width: 572px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 31px;
}

.header-search input {
    outline: none;
    padding: 10px 20px;
    z-index: 2;
}

.header-search img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.header-search span {
    left: 0;
    max-width: 362px;
    top: 0;
    z-index: 1;
    color: #B2B2B2;
    font-weight: 300;
    font-size: 27px;
    line-height: 31.64px;
}

.notification-dropdown {
    width: 60px;
    height: 60px;
}

.header-tools {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
}

.auth-dropdown {
    min-width: 83px;
    width: 100%;
    height: 60px;
}

.app-route {
    padding: 0 20px 0 35px;
}

.card-basic {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px 15px;
}

.notification-dropdown-list {
    min-width: 426px;
}

.alert-title {
    font-size: 12px;
    line-height: 16px;
}

.alert--text p {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
    margin: 0 !important;
}

.alert-date {
    justify-content: flex-end;
}

.alert-date span {
    font-size: 12px;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .drawer-anchor:hover {
    color: transparent !important;
}

.dropdown--list:hover {
    background: #eee;
}

.user-auth-name {
    font-size: 22px;
    line-height: 29px;
}

.mobile-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}
.mobile-layer.active,
.mobile-layer.active + .close-cicrle {
    opacity: 1;
    visibility: visible;
}

.close-cicrle {
    width: 63px;
    height: 63px;
    z-index: 100;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
    left: 335px;
    top: 20px;
    visibility: hidden;
    transition: all 400ms;
}

.carousel-cell {
    width: 360px;
    transition: all 300ms;
}

.chart-carouse-cell {
    width: 650px;
    transition: all 300ms;
}

.account-container {
    max-width: 850px;
    min-height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(221, 221, 221, 0.25);
    border-radius: 10px;
    margin: 65px auto 0;
    overflow: hidden;
    position: relative;
}

.account-sidebar {
    padding: 55px 0 30px 23px;
    background: var(--grey);
    width: 248px;
}

.account-sidebar-items {
    padding: 16px;
    color: #FFFFFF !important;
    font-family: var(--semiBold);
    font-size: 18px;
    line-height: 23px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background 350ms, color 350ms;
}

.account-sidebar-items.router-link-active {
    background: #fff;
    color: var(--grey) !important;
}

.account-view {
    padding: 17px calc(15px +  2.4363vw) calc(11px + 1.082vw) calc(15px + 2.707vw);
    flex: 1;
}

.upload-wrap {
    background: #FFBAB9;
    border-radius: 5px;
    height: 48px;
    padding: 6px 21px;
}

.form-label__text {
    font-size: 17px;
    line-height: 23px;
}

.form-label input {
    min-height: 54px;
    border: 2px solid var(--grey);
    border-radius: 6px;
    padding: 0 16px;
    font-size: 20px;
}

.account-buttons button {
    height: 53px !important;
    box-shadow: none !important;
}

.button-default {
    background: #F3F3F3 !important;
}

.button-default .v-btn__content {
    color: #AAAAAA;
}

.account-buttons .v-btn__content {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--regular);
    letter-spacing: .25px;
}

.card-text {
    padding: 16px 32px;
    border: 2px solid var(--grey);
    border-radius: 6px;
}

.card-text-wrap {
    max-height: 510px;
    padding-right: 20px;
    overflow-y: auto;
}

.card-text-date {
    font-size: 13px;
    line-height: 16px;
}

.language-button {
    height: 62px !important;
    max-width: 362px !important;
    width: 100% !important;
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.25) !important;
    border-radius: 10px !important;
}

.language-button .v-input__slot {
    box-shadow: none !important;
    margin: 0 !important;
    height: 62px !important;
}

.language-button.v-input .v-label {
    height: 30px !important;
}

.language-button .v-select__selection,
.language-button .v-label {
    font-size: 22px !important;
    line-height: 29px !important;
    color: #939393 !important;
    width: 100%;
    text-align: center;
}

.v-application .language-button .v-icon.v-icon {
    font-size: 50px;
    color: #B2B2B2 !important;
    caret-color: #B2B2B2 !important;
}

.change-system-language-view,
.change-system-language-view .account-view-body {
    height: 100%;
}

.change-system-language-view .account-view-body {
    display: flex;
    flex-direction: column;
}

.system-language-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-label-number__text,
.v-btn__content span {
    font-size: 24px;
    line-height: 31px;
}

.v-btn__content span {
    font-family: var(--semiBold);
    color: #939393;
}

.language-dropdown-icon {
    right: 5px;
}

.form-label-number .v-text-field input {
    font-size: 22px;
    line-height: 31px;
    font-family: var(--medium);
    color: #9D9D9D !important;
}

 .form-label-number .v-input__slot {
    background: #FFFFFF !important;
    border: 1px solid #F4F4F4 !important;
    box-shadow: 0px 4px 4px rgba(170, 170, 170, 0.25) !important;
    border-radius: 11px !important;
    height: 65px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

 .error-text-2 {
     font-family: var(--regular) !important;
 }

/***************  MEDIA  ************************/

@media (min-width: 1050px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1050px) {
    .mobile-menu {
        display: flex;
    }

    .app-route {
        padding: 0 15px;
    }

    .v-application .header-tools.ml-6 {
        margin-left: 8px !important;
    }

    .header {
        padding: 14px 0px 14px 20px;
        height: 70px;
        background: #fff;
        box-shadow: 0px 4px 10px rgba(156, 156, 156, 0.25);
    }

    .v-application .header-search span,
    .v-application .user-auth.d-flex {
        display: none !important;
    }

    .header-search {
        height: 43px;
        background: #F4F4F4;
    }

    .header-tools {
        width: auto;
        height: auto;
        box-shadow: none !important;
        background: transparent;
    }

    .header-search img {
        width: 15px;
        height: 15px;
        right: 14px;
        z-index: 2;
    }

    .notification-dropdown .v-image {
        max-height: 21px !important;
        max-width: 21px !important;
    }

    .auth-dropdown .v-image {
        max-height: 45px !important;
        max-width: 45px !important;
    }

    .auth-dropdown {
        height: auto;
    }

    .app-drawer.v-navigation-drawer {
        transform: translateX(-200%) !important;
    }

    .app-drawer.active.v-navigation-drawer {
        transform: translateX(0%) !important;
    }

    .app-drawer {
        position: absolute !important;
        z-index: 101 !important;
        width: 307px !important;
    }

    .app-drawer.v-navigation-drawer--mini-variant .v-list-item>:not(:first-child) {
        position: relative !important;
        width: auto;
        height: auto;
        overflow: visible;
        clip: inherit;
        white-space: initial;
        display: block;
        margin-left: 0 !important;
    }

    .v-application--is-ltr .app-drawer .v-list-item__icon:first-child {
        margin-right: 24px !important;
    }
}

@media (max-width: 769px) {
    .account-view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f7f9fc;
        transform: translateX(-100%);
    }

    .account-container {
        box-shadow: none;
        background: transparent;
    }

    .account-sidebar {
        width: 100%;
        background: transparent;
    }
}

@media (max-width: 650px) {
    .header {
        min-height: 70px;
    }

    .app-logo span {
        font-size: 30px;
        margin-left: 10px !important;
    }

    .header-lang {
        right: 10px;
    }

    .header-lang img {
        width: 24px;
        height: 24px;
    }

    .layout-route {
        padding-top: 115px;
    }

    .app-login {
        margin: 0 20px 30px;
    }

    .tab-title {
        font-size: 18px;
        line-height: 23px;
    }

    .ophan-button-1 button {
        height: 45px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }

    .forget-password {
        font-size: 14px;
        line-height: 18px;
    }

    .error-text {
        font-size: 12px;
        line-height: 16px;
    }

    .condition-text {
        font-size: 16px;
        line-height: 21px;
    }

    .app-logo img {
        max-width: 30px;
    }

    .login-tabs .tab-items {
        letter-spacing: 0;
    }
}

@media (max-width: 450px) {
    .app-drawer {
        width: 100% !important;
    }

    .close-cicrle {
        z-index: 101;
        background: transparent;
        top: 0;
        left: initial;
        right: 5px;
    }
}

@media (max-width: 400px) {
    .tab-content {
        padding-left: 0;
        padding-right: 0;
    }

    .login-tabs .tab-items {
        font-size: 12px;
    }
}