
.lang-dropdown .v-list-item {
    min-height: 36px;
}

.v-menu__content {
    transform: translateY(15px);
    box-shadow: 0px 4px 10px rgba(78, 78, 78, 0.25) !important;
    border-radius: 10px !important;
}

.v-tabs-slider-wrapper {
    display: none;
}

.v-text-field--outlined {
    border-radius: 0 !important;
}

.custom-alert {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
}

.read-more-notification button {
    height: 46px !important;
}

.read-more-notification span {
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
}

img {
    max-width: 100%;
}

.hooper-track {
    padding: 0 !important;
}

.subject-hooper.hooper,
.chart-hooper.hooper {
    outline: none !important;
    height: auto;
}

.subject-hooper .hooper-slide,
.chart-hooper .hooper-slide {
    height: auto;
}

.upload-wrap .v-text-field > .v-input__control > .v-input__slot:before {
    display: none;
}

.upload-wrap .v-file-input__text {
    color: #fff !important;
    font-size: 20px;
    line-height: 20px;
    font-family: var(--light);
}

.upload-wrap .v-input__slot {
    height: 24px;
}

.v-application .upload-wrap .v-input {
    caret-color: transparent !important;
    color: transparent !important;
    padding: 0;
}

.subject-stars .v-rating .v-icon {
    padding: 0 1px;
}

.v-pagination > li:first-child,
.v-pagination > li:last-child {
    display: none;
}

.v-pagination__item {
    width: 45px !important;
    height: 45px !important;
    box-shadow: none !important;
}

.v-pagination {
    justify-content: initial !important;
}

.theme--light.v-pagination .v-pagination__item {
    outline: none;
}

.v-pagination__more {
    color: var(--green);
}

.theme--light.v-pagination .v-pagination__item {
    background: var(--green) !important;
    color: #fff !important;
}

.theme--light.v-pagination .v-pagination__item--active {
    background-color: #66c75e !important
}